[Desktop Entry]
Encoding=UTF-8
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-amazfish-ui
Exec=harbour-amazfish-ui
Name=Amazfish
Categories=Sports;Utility

[X-Sailjail]
Sandboxing=Disabled

# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=Amazfish
